<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
    <ul>
    <li><a href = "/celebrities/create">Add new celebrity!</a></li>

    <li><a href = "/celebrities">Celebrities list</a></li>
    </ul>
</div>

<div>
    <ul>
    <li><a href = "/movies/create">Add a new movie!</a></li>

    <li><a href = "/movies">Movies list</a></li>
    </ul>
</div>